modules = ["dart-3.10", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["flutter", "chromium"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace && dart run bin/server.dart"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
publicDir = "deploy/public"
build = ["dart", "compile", "exe", "bin/server.dart", "-o", "bin/server"]
run = ["./bin/server"]

[userenv]

[userenv.shared]
REVENUECAT_API_SECRET = "sk_hOhscihmVbyDGjZulKdDiYPVNRuBe"
